* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.heading {
    height: 99vh;
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    background-position: center;

}
.part {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    font-family: "Roboto", "sans-serif";
}
#mouse{
    position: absolute;
    bottom: 50px;
}
#logoD{
    width: 60px;
    height: 60px;
}

