* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    /* padding: 0 80px; */
    margin: auto;
    

}
body{
    border: 0.5px black;
}
#home{
    display: flex;
    background: url("../images/h_img.jpg") center no-repeat;
    background-color: black;
    height: 80vh;
    color: white;
    min-height: 400px;
    /* font-family: 'Roboto', sans-serif; */
    
}
.home_content{
    justify-content: center;
    text-align: center;
    margin: 0 50px 0 50px;
    padding-bottom: 50px;
}
#logoD{
    width: 50px;
    height: 50px;
    
}
.content_down{
    margin: 0px 0 7px 0;
}



#about{
    display: flex;
    background-color: white;
    height: 50vh;
    color: black;
    min-height: 200px;
    font-family: 'Roboto', sans-serif;
    
}
.about_content{

    text-align: center;
   
    font-size:1.1em;

   
    /* font-size:1.6em;
    line-height:.2em;
    margin-bottom:2.2em; */

}
/* .about_content h1,p{
    padding-top: 10px;
} */



#services{
    display: flex;
    background: url("../images/s_image.jpg") center no-repeat;
    height: 60vh;
    color: white;
    min-height: 400px;
    font-family: 'Roboto', sans-serif;
    

}
#whattodo{
    display: flex;
    background-color: white;
    height: 60vh;
    color: white;
    min-height: 400px;
    font-family: 'Roboto', sans-serif;
    


}
#portfolio{
    display: flex;
    background-color: black;
    height: 60vh;
    color: white;
    min-height: 400px;
    font-family: 'Roboto', sans-serif;
    


}
#contact{
    display: flex;
    background: url("../images/c_image.jpg") center no-repeat;
    background-color: black;
    height: 60vh;
    color: white;
    min-height: 400px;
    font-family: 'Roboto', sans-serif;
    

}
#logos{
    display: flex;
    background-color: white;
    height: 40vh;
    color: black;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    
}
